.wp-block-wceu2019bloq-skill-bar-4 {
	font-family: sans-serif;

	.wceu2019bloq__bar {
		width: 0;
		background-color: #EE55AA;
		padding: 0 2% 0 0;
		text-align: right;
		height: 10px;
	}
}

.wceu2019bloq__label {
	display: block;
}

.wceu2019bloq__track {
	background: #f7f7f7;
}
